# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Artifacts
artifacts/*
!artifacts/2026-07-21_23-31-13/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
